<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
        <p>Hi <%= @receiver_first_name.split(" ").first %>,</p>
        <p>
          <%= @body.to_s.html_safe %>
        </p>
    </div>
    <div>
      <small>
        <hr>
        <p><i>Sent via <a href="https://www.relaysauce.com">Relay Sauce</a></i></p>
        <p><i><%= link_to "click here to unsubscribe", unsubscribe_url(SecureRandom.hex(32)) %></i></p>
      </small>
    </div>
  </body>
</html>
