<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<div style="padding:20px;"">
  			<p>Dear <%= @receiver_first_name %>,</p>
  			<p>
  			  <%= @body %>
  			</p>
  			
  	</div>
  	<div style="text-align: center;">
  		<small>
  			<p><a href="#">Opt out</a></p>
    		<p><i>Sent via <a href="https://www.relaysauce.com">Relay Sauce</a></i></p>
    	</small><
    </div>
  </body>
</html>