<input type="checkbox" id="selectAll" class="selectbox">All Items<span id="showEmailCount" class="label--checkbox"></span></input>
<%= form_for(email_stash) do |f| %>
  <% if email_stash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email_stash.errors.count, "error") %> prohibited this email_stash from being saved:</h2>

      <ul>
      <% email_stash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :recipient_email_addresses %>
    <%= f.text_field :recipient_email_addresses %>
  </div>


  <div class="field">
    <%= f.label :selected %>
    <%= f.check_box :selected %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
$("#selectAll").select_all({show_count: "checked",
  attach_count_to: "#showEmailCount"})
</script>