<div class="recipient_form">
  <%= form_for @email_stash, url: create_recipient_path do |f| %>
    <% if @email_stash.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@email_stash.errors.count, "error") %> prohibited this recipient from being saved:</h3>

        <ul>
        <% @email_stash.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="row" label="recipient email address">
        <%= f.text_field :recipient_email_address, class: 'form-control', placeholder: 'recipient email address' %>
      </div>
      <div class="row" label="recipient first name">
        <%= f.text_field :recipient_first_name, class: 'form-control', placeholder: 'recipient first name' %>
      </div>
      <div class="row" label="recipient last name">
        <%= f.text_field :recipient_last_name, class: 'form-control', placeholder: 'recipient last name' %>
      </div>
      <div class="form-group hidden">
        <%= f.label :source %><br>
        <%= f.text_area :source,  class: 'form-control', value: source %>
      </div>
      <div class="form-group hidden">
        <%= f.label :email %><br>
        <%= f.text_area :email,  class: 'form-control', value: current_user.name %>
      </div>
    
    </fieldset>

    <div class="actions">
      <%= f.submit "Add new recipient", class: 'btn btn-xs btn-success' %>
      <button type="button" class="cancel btn btn-small btn-danger" onclick="hide_recipient_form();">Cancel</button>
    </div>

  <% end %>
  
</div>

<script type="text/javascript">
  function show_recipient_form() {
    document.getElementsByClassName("recipient_form")[0].style.display="block";
    document.getElementsByClassName("new-recipient")[0].style.display="none";
  }

  function hide_recipient_form() {
    document.getElementsByClassName("recipient_form")[0].style.display="none";
    document.getElementsByClassName("new-recipient")[0].style.display="block";
    $("#error_explanation").remove();
    $("#email_stash_recipient_email_address").val("");
    $("#email_stash_recipient_first_name").val("");
    $("#email_stash_recipient_last_name").val("");
  }

  var isShowForm = <%= @email_stash.errors.any? %>
  if(isShowForm) {
    show_recipient_form();
  };

</script>
