<div class="steps-nav"><ol><li class="active">Import contacts</li><li>Create template</li><li>Review and Send</li></ol></div>
<h1>Editing email list</h1>

<%= render 'form', email_stash: @email_stash %>

<%= link_to 'Show', @email_stash %> |
<%= link_to 'Back', email_stash_path %>
