<div class="steps-nav"><ol><li class="active"><span class="hidden-xs">Import contacts</span></li><li><span class="hidden-xs">Create template</span></li><li><span class="hidden-xs">Review and Send</span></li></ol></div>
<div class="jumbotron">
    <h1>Nice list! </h1>
      <p class="lead">We've imported <strong><%= @u_email_stash.count%> email addresses</strong> from your contacts. Select which contacts you want to send to.</p>
    
    <hr>
    <strong><span class="showCarCount"></span></strong>
    <br/>
    <input type="checkbox" id="selectAll">&nbsp; Select all</input> 
    <%= form_tag selection_email_stashes_path, method: :put do %>
      <% if @u_email_stash.exists? %>

        <%= hidden_field_tag :u_email_stash, @u_email_stash.map(&:id).join(',') %>
        <%= hidden_field_tag :source, "yahoo" %>
      <ul class="stash-list">
      
        <% @u_email_stash.each do |y| %>
        <li>
          <% stash = y.email_stash %>
          <%= check_box_tag "u_email_stash_ids[]", y.id, y.selected, class: "selectable"%>
          <%= stash.recipient_first_name%>&nbsp;
          <%= stash.recipient_last_name%>&nbsp;-
          <%=  stash.recipient_email_address %>
          <%#= y.selected %>

        </li>
        <%end %>
      </ul>
    <% end %>
    
  <%= submit_tag "Save selection", class: 'btn btn-success save-selection' %>
  <button type="button" class="new-recipient btn btn-small btn-primary" onclick="show_recipient_form();">Add new recipient</button>
  <% end %>

  <%= render "recipient_form", source: "yahoo" %>

</div>
<%#= link_to 'Edit', edit_email_stash_path(@u_email_stash) %>
<% if @u_email_stash.selected.count > 0%>
  <%= link_to "Next step: Email template", email_templates_path(), class: "btn btn-lg btn-primary pull-right next-email-temp" %>
<% end %>

<script type="text/javascript">
  $("#selectAll").select_all({
    show_count: "checked",
    attach_count_to: ".showCarCount"
  });
</script>