<div class="steps-nav"><ol><li class="active"><span class="hidden-xs">Import contacts</span></li><li><span>Create template</span></li><li><span>Review and Send</span></li></ol></div>
<div class="jumbotron">
	<h1>Let's make this saucy.</h1>
  	<hr/>
  	<% @email_stash.recipient_email_addresses.each do |f| %>
  		<%= f%>
  	<% end %>
</div>


<%= link_to 'Edit', edit_email_stash_path(@email_stash) %> |
<%#= link_to 'Back', email_stash_path %>
