<!DOCTYPE html>
<html>
  <head>
    <title>Relay Sauce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  
  <body>
  
    <%= render 'layouts/facebook' %>
    <div class="container">
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">

                <li role="presentation"><%= link_to "Pricing", pricing_path %></li>
                <!-- <li role="presentation"><%#= link_to "About", about_path %></li> -->
                <li>
                  <% if user_signed_in? %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >
                    <%= image_tag current_user.avatar, class: "img-responsive img-circle dropdown-toggle"%>
                  </a>
                  <ul class="dropdown-menu">
                    <li style="padding-left: 10px;"><%= current_user.name %></li>
                    <li><%= link_to "Logout", destroy_user_session_url, method: :delete %></li>
                  </ul>
                  <% end %>
                </li>
              </ul>
            </nav>
            <div class="logo"><a href="/"><span class=" glyphicon glyphicon-send"></span> <span class="">RelaySauce</span></a></div>
          </div>
      <%= yield %>
      <%= render 'layouts/toastr' %>
    </div>
    <footer class="footer">
      <div class="container">
        <ul>
          <li><%= link_to 'Privacy', privacy_path, class: 'btn' %></li>
          <li><%= link_to 'Contact', new_contact_path, class: 'btn' %></li>
        </ul>
      </div>
      
    </footer>
  </body>

</html>