<div class="jumbotron">
  <h1><span class="glyphicon glyphicon-usd"></span>0.06 per email</h1>
  <p>Send emails to all your Facebook friends. We use Yahoo to fetch your facebook friends. Please follow these <strong><%= link_to "easy instructions", yahoo_instruction_path %></strong> to use this option.</p>

  <!-- <hr> -->

  
</div>
<div class="price-levels">
  <div style="background: #38afff;">
    <h2>500 emails <span class="price-tag"><span class="glyphicon glyphicon-usd"></span>30</span></h2>
  </div>
  <div style="background: #3892FF;">
    <h2>1000 emails <span class="price-tag"><span class="glyphicon glyphicon-usd"></span>60</span></h2>
  </div>
  <div style="background: #394EFF;">
    <h2>2000 emails <span class="price-tag"><span class="glyphicon glyphicon-usd"></span>120</span></h2>
  </div>
  <div style="background:  #3825FF;">
    <h2>2K+ emails <span class="price-tag"><small class="white">Contact us to discuss</small></span></h2>
  </div>

</div>

<hr>
<h2></h2>
<p></p>
<p>* Minimum 500 emails</p>