<h1>PRIVACY POLICY</h1>
<p>
As used herein, “the Site” refers to the service and network located at www.relaysauce.com and their subdomains, mobile version(s), downloadable apps, and any associated applications that are owned and/or operated by Relay Sauce (collectively, “us,” “we,” “our,” or “the Company”). By using the Site you indicate your acceptance of this Privacy Policy. If you do not agree to this Privacy Policy, you are not permitted to access the Site and you should not do so.</p>
<p>
Our postal address is:

Relay Sauce
2556 W Chicago Ave
Chicago, IL 60622
</p>
<p>
We can also be contacted via email: <a href="mailto:relaysauce@gmail.com">relaysauce@gmail.com</a>.
</p>
<p>
We reserve the right to change or otherwise update this Privacy Policy at any time. Such changes or updates are effective immediately after we give notice of the change or update, which we may do by revising the “Last Updated” date at the bottom of this Privacy Policy or by otherwise posting on the Site, by email or conventional mail, and/or by any other means that provides reasonable notice. Your use of the Site after such notice is posted confirms that you accept these changes or updates. If you are concerned about how your information is used, you should periodically review this Privacy Policy.
</p>

<h2>Introduction</h2>
<p class="">We understand and respect your desire for privacy. To that end, we would like you to know how we use the information you provide to us.</p>
<p>
We (both directly and through third parties) collect personally identifying information when you access any pages on the Site or register for the Site. If you provide us with your email address, you will not receive an emails except those which pertain to your order with Relay Sauce. We collect non-personally-identifiable information (such as your IP address or domain,  or information about your use of the Site) both directly and through third parties for purposes of site administration, to improve and customize user experiences, and to compile aggregate information about usage of the Site.</p>

<p>
Payments will be processed by a third party processor, Stripe, and is not stored on Relay Sauce servers.  Relay Sauce will collect specific Personal Information required for Stripe to process payments. This includes credit card numbers, billing addresses, security (CVV) codes and any other relevant financial information.  All such information will be transferred directly to Stripe and not retained, stored or used by Relay Sauce without prior consent. In the case of subscription services, such as the Relay Sauce’ VIP program, tokenization will be used to associate payment information to your account on a monthly basis.  All such transferred information is subject to the privacy policy of Stripe rather than this policy. </p>
<p>
Be sure to review all privacy policies published by our third-party providers and contact them directly if you have questions as they may have privacy terms that differ from our Privacy Policy.</p>
<p>
We have implemented appropriate safeguards to help prevent unauthorized access, maintain data security, and make proper use of the information we collect. However, no transmission of data over the Internet is guaranteed to be completely secure. Thus, while we strive to protect your personal information, we cannot absolutely guarantee the security of any information you provide to us.</p>
<p>
Personal information collected from our Site may be disclosed when legally required to do so, at the request of governmental authorities conducting an investigation, to verify compliance with the policies governing our Site and applicable laws, or to protect against missed or unauthorized use of our Site.</p>
<p>
Policy for Minors
Use of the Site is intended for persons over the age of 13 years old. No information should be submitted to or posted on the Site by any Minor (a user younger than 13 years of age). If a minor between the ages of 13 and 18 accesses or registers for the Site, or signs up to receive our newsletter, they should do so with parental or guardian consent. Unless otherwise disclosed during collection, we do not knowingly provide any personally identifying information about Minors, regardless of its source, to third parties, nor is this information knowingly used by us for any marketing or promotional purposes.</p>
<p>
By registering for this site you are certifying that you are at least 13 years old.</p>
<p>
Policy for Users
We collect personal information from Site users over 13 years of age in order to provide users with a personalized online experience and to provide our advertisers a way to reach the right audience. We may share the personal and aggregate information we collect with our affiliates and other sites operated by and for us. On a confidential basis, we may also share personal information with our corporate affiliates or consultants, or with third parties that perform a particular service on our behalf (such as fulfilling orders or for general administration purposes for the Site). We may share aggregate information with third parties for advertising and promotional purposes. If all or part of the Company is sold, merged, or is otherwise transferred to another entity, the information you have provided on or through the Site may be transferred to such entity as part of that transaction. We may also disclose personal information in response to legal process, such as a request by law enforcement, a court order or subpoena, or to protect the integrity of the Site if we believe that a user has committed unlawful or otherwise harmful acts (please refer to our Terms of Service).</p>
<p>
With the permission of users 13 years or older, information submitted at the time of registration or submission may be used for marketing and promotional purposes by us and, also with the permission of the user, may be shared by us with companies that have agreed with us to use this information only for the marketing and promotion of its products and services.</p>
<p>
If any individual submits content for publication, we may publish his or her name and any other information submitted by that individual.</p>
<p>
If a user elects to use our “Email to a Friend” referral service for informing a friend about the Site, we ask for the friend’s email address, and we will send an email in response to the user’s request inviting their friend to visit the Site. This information is stored at the Site solely for the purpose of sending the email.</p>

<p>
Public Forums, Comments, and Reviews
Whenever you voluntarily disclose personal information online in forums or similar posting areas, the information can be reviewed and collected by anyone. Therefore, do not post any information that you do not want to be made available to the general public. We are not responsible for unsolicited communications that arise from your postings on the Site.
</p>
<!-- <p>
Purchase of Products or Services from SimpleTruths.com
If you purchase a product or service from the Site, information may be collected from you, including your credit card and contact information, for transfer to and use by third-party providers of the product or service. Your credit card and billing information is only retained by our Site if you choose to do so. Any credit card information that is retained is done so using encrypted technologies. Unless otherwise stated, we do not have any responsibility in connection with such purchases and all transactions and use of any customer information are the sole responsibility of the product/service provider. Be sure to review the product/service provider’s privacy policy and contact them directly if you have any questions. They may have privacy terms that differ from our Privacy Policy.</p>
<p> -->

<h2>Use of Personal Information</h2>
Use of Cookies
Cookies are pieces of information that a website transfers to an individual’s computer for record keeping purposes. Cookies make web surfing easier by saving your passwords, preferences, and purchase information while you’re online. The use of cookies is an industry standard practice and can be found on nearly all major websites.
</p>
<p>
We may use cookies, among other purposes, to record session and Site usage information, to help us see which areas are popular and which are not, to alert users to new areas and products that we think might be of interest to them when they return to the Site, and to record past activity to provide better service when users return to the Site, and to perform remarketing to users who have previously visited the Site. This helps us to target products and recommendations based on user interests, and also improve and update the Site based on such data as a total number of users and pages viewed. This information is most easily tracked with cookies.
</p>

<p>
The use of cookies sent by third-party servers is standard in the Internet industry. Most browsers are initially set to accept cookies. If you choose to remove or block cookies, it is possible that some parts of the Site, such as the shopping and contest/sweepstakes areas, will not function properly if you do so.
</p>
<p>
Use of IP Addresses
An IP address is a number that is automatically assigned to your computer by your Internet Service Provider (ISP) whenever you log on the the Internet. Web servers automatically identify your computer by its IP address, so when a user requests pages from the Site, our servers log the user’s IP address. The IP addresses of our users are collected only for the purposes of system administration and to report aggregate information to our advertisers, our corporate affiliates or consultants, or with third parties that perform a particular service on our behalf. We do not combine IP addresses with any personally identifying information, nor do we compile any session activity reports by IP address.
</p>
<p>
Use of Email Address
Any email address that you provide provide when you login/register for the Site, or make a purchase through the Site will be retained and may be used to communicate with you regarding order status and updates</p>
<p>
To unsubscribe from any communications from us, follow the “unsubscribe” link at the bottom of any communication you receive. You can also unsubscribe from the promotional and marketing emails you receive from the Site’s partners by following the “unsubscribe” link at the bottom of emails from such partners. You can also unsubscribe by contacting us and requesting to have your information removed from our list.
</p>

<p>
If you supply us with a telephone number online, you will only receive contact from us regarding information on orders that have been placed online or through our customer service.
</p>
<!-- <p>
Third-Party Advertising
We may use third-party advertising companies and advertising networks to serve ads to you on our behalf when you visit the Site. These companies may use information (not including your name, address, email address, or telephone number) about your visits to the Site and other websites in order to provide advertisements about goods and services of interest to you.
</p> -->
<p>
Contact Us
If you feel that our Site is not following the stated information policy or have questions and concerns, you may contact us at any time.
</p>
<p>
Last updated and effective as of: 7/25/2017</p>