<br/>
<div class="faq">

  <h1>Frequently Asked Questions</h1>
  <ul>
    <li data-toggle="collapse" data-target="#first">How does this boost my crowdfunding campaign?<span class="glyphicon glyphicon-plus"></span></li>
    <div id="first" class="collapse">
      <p><strong>FACT: Less than 5% </strong>of your Facebook friends know about your crowdfunding campaign.</p>



<p>Personal messages <a target="_blank" href="https://www.fundable.com/crowdfunding101/crowdfunding-statistics">increase your effectiveness</a> dramatically. <strong>Wall posts</strong> only reach about 4-5% of your friends. Don't let the other 95% slip through the cracks.</p>

<p>We provide simple tools to send a personalized email message (i.e. using the recipient's first name) to each of your contacts. <strong>Marketing in a personalized way</strong> dramatically increases your success in crowdfunding.</p>

<p><strong>Send hundreds of personalized emails to your Facebook and Gmail friends in a matter of minutes.</strong></p>

<p>Receive 2 full reports on how many people opened/clicked your message about the campaign.</p>

<!-- We double check and make an extra effort that each message reaches the recipients inbox folder, and we try to calculate the best time of the day to send each message (for each recipient) in order to increase your ROI and much more. -->
    </div>
    <li data-toggle="collapse" data-target="#second">What’s the average ROI (return on investment)?<span class="glyphicon glyphicon-plus"></span></li>
    <div id="second" class="collapse">
<p>The average ROI is about 1:15. This means that with your 1000 friends, at a service cost of $60, you can raise around $1000. Some customers see an even higher ROI. </p>
<p>Although we helped many campaigns to gain their first contribution, we recommend using Relay Sauce only after you raised a total of $100 from 4 people (or more) to show some social proof your campaign works.</p>
    </div>

    <li data-toggle="collapse" data-target="#five">How do I import Facebook friends using Yahoo?<span class="glyphicon glyphicon-plus"></span></li>
    <div id="five" class="collapse">
      <div class="">
        <p>We use Yahoo to import your Facebook friends.</p>
        <!-- <ol> -->
          <p>1. Login or sign up for a <a target="_blank" href="https://mail.yahoo.com/">yahoo account</a>. <small>(delete it afterward if you want)</small></p>
          <p>2. Select 'contacts' - 2nd choice from left menu.</p>
          <p>3. Choose 'Import Facebook'</p>
          <p>4. Return to the Relay Sauce app.</p>
        <!-- </ol> -->
        <br/>
      </div>
      <div class="">
        <%= video_tag "yahoo-signup.webm", style: "width:100%", controls: true, autoplay: true%>
      </div>
    </div>

    
    <li data-toggle="collapse" data-target="#third">What will happen to my contacts list after my order?<span class="glyphicon glyphicon-plus"></span></li>
    <div id="third" class="collapse">
      <p>We keep your contacts on file for 3 months just in case you come back to Relay Sauce and want to use a different service we offer. We will never share, sell or abuse the information you share with us. Please see more in our <%= link_to "privacy policy", privacy_path%>.</p>
    </div>

    <li data-toggle="collapse" data-target="#four">100% refund policy<span class="glyphicon glyphicon-plus"></span></li>
    <div id="four" class="collapse">
    <p>We offer a 100% money-back guarantee. If your campaign fails to raise at least the amount you spent for Relay Sauce services, we will refund you in full.</p>
    </div>

    

  </ul>
  
</div>

<!-- 
2. Tell me more about the 100% Risk Free Program: “Fundraising Guaranteed”
In order to make any Kickstarter / Indiegogo successful, the campaign owner needs to take risks and invest a lot of time and money.
We want to reduce those risks to minimum, and we make sure that you will raise funds through our services.
Please visit this URL to learn more: Fundraising Guaranteed Program.

4. Who compose the message? Who is in charge of the wording?
You are! The person that using the service is composing the message for his selected friends. We’ve also created a doc with some tips of how to create a good message to increase the ROI (return).
See also: How to Craft a Message for your Email Blast.

5. What’s the difference between the Green Inbox and Facebook promoted posts?
As a Facebook page owner you can use promoted posts to increase the exposure of a single specific post in the newsfeed of your page fans.
The Green Inbox is a complementary service that enables you to send a private email message to each friend on your Facebook individual account (and also send private messages to your twitter followers, linkedin connections, email, phone contacts etc.).

6. Can I use Green Inbox to message my Facebook page fans?
No. You can use the service to message your Facebook friends on your Facebook individual account or your twitter followers (linkedin etc.).

7. My campaign ends in 72 hours! Can I use your service?
Usually, it takes up to 48-72 hours to process your order and get the payment confirmation - so please don’t wait for the last minute to place your order.

8. Can I combine multiple accounts under the same order/payment.
Since we review each order individually and we have a relatively high cost for each order we can not combine multiple accounts under the same order.
Please take into consideration that once you place an order - your payment is a one-time payment for this specific order you placed (and cannot be extended to other accounts / recipients).

9. How do I limit my order to a specific amount of Facebook friends?
Use this URL after login to limit your friend list to 500 Facebook friends:
http://www.greeninbox.com/friends?limit=500
You can change the number (500) to any number you wish and limit your friend list accordingly.

10. How do I exclude Facebook friends I’ve already messaged before?
Use this URL after login to exclude Facebook friends you’ve already messaged through Green Inbox:
http://www.greeninbox.com/friends?continue=1

11. Do you provide discounts for large volume orders?
No. Never. Our prices are fixed for all.
We do offer a refer program where existing clients can use our website for free.
Read more here: www.greeninbox.com/invite.
Please note that this program is only for people that already paid to use our website.



13. Does Green Inbox sends Emails or Facebook chat messages?
Facebook changed the API on April-2015, and since then we shifted to personal emails.
The emails method is 100% safe. On average, the results / $ return is a bit better than before (emails are better than chat).
Facebook chat messages method is no longer possible.

14. I don't have a yahoo account. What can I do? (Facebook Package related)
The only way to import your Facebook friends emails is through a yahoo email account.
If you do not have a yahoo email account, it takes 2 minutes to create a new yahoo email account.
Once we import the emails of your friends, you can close the yahoo mail account / never use it again.
The sender email for your order can be any email you'd like.

15. I used the Facebook, Gmail, Linkedin & Twitter packages and raised ~$5,000 USD through Green Inbox.
How else can I promote my campaign?
Ask close friends & family to message their network of friends about your campaign through Green Inbox.
Campaigners that used our website and raised 50,000 USD (or more) used a large team of friends and family.

We would recommend starting with 2-3 members (can be family, friends, friends of friends etc.) and see if this works for you.
This "method" also helped the Coolest Cooler Kickstarter raise more than $13m.

16. Can I use Green Inbox to promote my Event or Facebook page?
Yes. You can use our website to promote whatever you'd like. -->