<div class="how-it-works">
	<h2>How It Works</h2>

	<div class="row">
		<div class="col-md-4 text-center">
			<div>
				<span class="glyphicon glyphicon-import"></span>
				<br/>
				<p>Import Your Friends</p>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div>
				<span class="glyphicon glyphicon-grain"></span>
				<br/>
				<p>Create a Template</p>
			</div>
		</div>
		<div class="col-md-4 text-center">
			<div>
				<span class="glyphicon glyphicon-sunglasses"></span>
				<br/>
				<p>Send Messages</p>
			</div>
		</div>
	</div>

	<!-- <p>We'll send you a full report including confirmation of delivery open rate.</p> -->
</div>

<style type="text/css">
	.how-it-works{
		/*color:white;*/
	}
	.how-it-works .glyphicon{
		font-size:7rem;
	}
	.how-it-works p{
		color:#394EFF;
	}
	.how-it-works .row div div{
		border:1px solid white;
		padding:2.5rem;
		border-radius: 2rem;
		background: white;
		margin:1rem 0;
	}
</style>