<h2>Success Stories</h2>
<a target="_blank" href="https://www.kickstarter.com/projects/1014894732/aqualogue">
<div class="animationThree testimonials">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag 'sooze-nicole.jpg', style: 'width:100%'%>
		</div>
		<div class="col-md-8">
			<!-- <h6 class="pull-right">Success Stories</h6> -->
			<h4><u>Aqualogue ($20K funded) </u></h4>
			<p style="font-size:16px;">"Relay Sauce gave us a needed boost in our Kickstarter campaign outreach. We made it to $20,000! Thanks again to Relay Sauce team!"</p>
		</div>
	</div>
	
</div>
</a>
<br/>
<a target="_blank" href="https://www.kickstarter.com/projects/ebranchscigoats/eb-ranchs-san-clemente-island-goat-milk-soap-expan">
<div class="animationThree testimonials">
	<div class="row">
		<div class="col-md-4">
			<%= image_tag 'goat-milk-soap.png', style: 'width:100%'%>
		</div>
		<div class="col-md-8" >
			<!-- <h6 class="pull-right">Success Stories</h6> -->
			<h4><u>Goat's Milk Soap ($3K funded) </u></h4>
			<p style="font-size:16px;">"Yay we made it over $3k! We were able to reach so many more people with Relay Sauce. I'm happy we found their service."</p>
		</div>
	</div>
	
</div>
</a>
