// Place all the styles related to the EmailStashes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  
li{
  list-style: none;
}



.stash-list{
	overflow: scroll;max-height: 300px;padding:10px;border:1px solid #e0e0e0;border-radius:4px
}