.modal-body {
	.jumbotron{
		padding-top:0;
	}
	ol{
		margin:0;
		

		li{
			list-style-type: decimal;
			color:#777;
			padding:1rem;
		}
	}
}

.UserCard-name {
  display: block;
  font-size: 2rem;
}

.UserCard-email {
  display: block;
  font-size: 1.5rem;
}
.features {
	h1{
		margin-top:0;
		padding-top:0;
	}
	.glyphicon{
		padding-top:40px;
	}
}
