<div class="steps-nav"><ol><li class="active">Import contacts</li><li>Create template</li><li>Review and Send</li></ol></div>
<div class="jumbotron">
    <h1>Nice list, mate. </h1>
    	<p class="lead">We imported <strong><%= @email_stash.count%> email addresses</strong> from your Facebook friends list (via Yahoo). Select which contacts you want to send to.</p>
    
    <hr>

    <input type="checkbox" id="selectAll">&nbsp; Select all</input> 
    <%= form_tag selection_email_stashes_path, method: :put do %>
	    <% if @email_stash.exists? %>

		    <%= hidden_field_tag :email_stash, @email_stash.map(&:id).join(',') %>
			<ul class="stash-list">
			
				<% @email_stash.each do |y| %>
				<li>
					
					<%= check_box_tag "email_stash_ids[]", y.id, y.selected, class: "selectable"%>
					<%= y.recipient_first_name%>&nbsp;
					<%= y.recipient_last_name%>&nbsp;
					<%=  y.recipient_email_address %>
					<%#= y.selected %>

				</li>
				<%end %>
			</ul>
		<% end %>
		<strong><span class="showCarCount"></span></strong>
	<%= submit_tag "Save selection", class: 'btn btn-success pull-right save-selection' %>
	<% end %>


	
</div>
<%#= link_to 'Edit', edit_email_stash_path(@email_stash) %>
<% if @email_stash.where(selected: true).count > 0%>
	<%= link_to "Next step: Email template", new_email_template_path(), class: "btn btn-lg btn-primary pull-right next-email-temp" %>
<% end %>

<script type="text/javascript">
    $("#selectAll").select_all({
    	show_count: "checked",
 		attach_count_to: ".showCarCount"
    });
</script>