<div class="steps-nav"><ol><li class="active">Import contacts</li><li>Create template</li><li>Review and Send</li></ol></div>
<div class="jumbotron">
    <h1>Nice list, dude. </h1>
    	<p class="lead">We imported <strong><%= @email_stash.count%> email addresses</strong> from your Facebook friends list. Select which contacts you want to send to.</p>
    
    <hr>


    <%= form_tag selection_email_stashes_path, method: :put do %>
	    <% if @email_stash.where(source: 'yahoo').exists? %>

		    <!-- <h2>Facebook</h2> -->
			<ul  style="overflow: scroll;max-height: 300px;padding:10px;">
			
				<% @email_stash.where(source: 'yahoo').each do |y| %>
				<li>
					<%= check_box_tag "email_stash_ids[]", y.id%>
					<%#= y.id %>
					<%=  y.recipient_email_address %>
					<%= y.selected %>

				</li>
				<%end %>
			</ul>
		<% end %>

	<%= submit_tag "Save selection", class: 'btn btn-success' %>
	<% end %>





	
</div>
<%#= link_to 'Edit', edit_email_stash_path(@email_stash) %>
<% if @email_stash.where(source: 'yahoo', selected: true).count > 0%>
<%= link_to "Next step: Email template", new_email_template_path(), class: "btn btn-lg btn-primary pull-right" %>
<% end %>

