<div class="steps-nav"><ol><li class="active">Import contacts</li><li>Create template</li><li>Review and Send</li></ol></div>
<div class="jumbotron">
    <h1>Nice. We got'em.</h1>
    <p class="lead">Here is the list we pulled from your contact list.</p>
	<ul  style="overflow: scroll;max-height: 800px;padding:10px;">
	<% @email_stash.each do |d| %>
		<li>
			<%#= d.name %>
			<p><%= d.recipient_email_address %></p>
		</li>
	<%end %>
	</ul>
</div>
<%#= link_to 'Edit', edit_email_stashes_path(@email_stash) %> |
<%#= link_to 'Back', email_stashes_path %>