<div class="jumbotron">
  <h1>Only 10% of your Facebook friends know about your crowdfunding campaign.</h1>
  <p class="lead">Use Relay Sauce to reach the other 90%.</p>
  <p>
    <span class="social social-facebook"></span>
    <%= link_to "Sign in with Facebook",
        user_facebook_omniauth_authorize_url(),
        class: "btn btn-lg btn-primary" %>
  </p>
</div>

<!-- <div class="row">
  <div class="col-xs-4 col-md-4 animationOne">
    <%= image_tag "indiegogo-logo.png", style: 'width:100%;', class: 'bwImg'%>
  </div>
  <div class="col-xs-4 col-md-4 animationTwo">
    <%= image_tag "kickstarter-logo.png", style: 'width:100%;margin-top:10px;', class: 'bwImg'%>
  </div>
  <div class="col-xs-4 col-md-4 animationThree">
    <%= image_tag "gofundme-logo.png", style: 'width:100%;margin-top:20px;', class: 'bwImg'%>
  </div>
  
</div>  -->

<!-- <hr/> -->
<%= render 'partials/how-it-works' %>
<%= render 'partials/faq' %>
<%= render 'partials/testimonials'%>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">  title</h4> -->
      </div>
      <div class="modal-body">
       <div class="jumbotron">
        <h2>Quickstart</h2>
         
          <div>
            
            <p><strong>Import your FB friends to a Yahoo account. <!-- <br/><small><small>(FB has decommissioned this feature on their API)</small></small> --></strong></p>
            
            <ul class="instructions-sub">
              <li>Login or sign up for a <a target="_blank" href="https://mail.yahoo.com/">yahoo account</a>.</li>
              <li>Select <strong>'Contacts'</strong> - 2nd choice from top left menu.</li>
              <li>Choose <strong>'Import Facebook'</strong></li>
              
            </ul>
            <p><strong>Return to the Relay Sauce app to import contacts.</strong></p>
          </div>
          <div class="">
            <%= video_tag "yahoo-signup.webm", style: "width:100%", controls: true, autoplay: true%>
          </div>
         
       </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>