<div class="steps-nav"><ol><li class="active"><span class="hidden-xs">Import contacts</span></li><li><span class="hidden-xs">Create template</span></li><li><span class="hidden-xs">Review and Send</span></li></ol></div>
<div class="jumbotron">
    <ul class="features">
      <div class="row">
        <div class="col-md-2 col-sm-2"><span class="hidden-xs glyphicon glyphicon-download-alt" style="font-size:70px"></span></div>
        <div class="col-md-10 col-sm-10"><h1> Choose your import method.</h1></div>
      </div>
      <!-- <hr> -->
      <br/>
      
      <li>
        <section class="well animationOne text-center">
          <h2>Facebook Friends <small>(best <%= link_to "ROI", '#roiModal', "data-toggle" => "modal" %>/results)</small></h2>
          <div class="">
            <p>Send emails to your Facebook friends. <br/>Use Yahoo to fetch your facebook friends. <br/>Please follow these <strong><%= link_to "easy instructions", '#myModal', "data-toggle" => "modal" %></strong> to use this option.</p>
          </div>
          <div class="">
            <%= link_to "Import Friends", '/users/auth/yahoo_oauth2', class: 'btn btn-lg btn-primary',:confirm => 'Did you import your FB friends into your Yahoo account' %>
          </div>
        
        </section>
      </li>
      <li>
        <section class="well animationTwo text-center">
        <h2>Gmail Contacts</h2>
        <div class="">
          <p>Send emails to your Gmail contacts.</p>
        </div>
        <div class="">
          <%= link_to "Import Gmail", '/users/auth/google_oauth2', class: 'btn btn-success btn-lg' %>
        </div>

        </section>
      </li>
      <li>
        <section class="well animationThree text-center">
          <h2>LinkedIn Contacts</h2>
          <div class="">
            <p>Send emails to your LinkedIn contacts. Coming soon.</p>
          </div>
          <div class="">
            <%= link_to "Import LinkedIn", '/', class: 'btn btn-lg btn-primary', disabled: true %>
          </div>
        
        </section>
      </li>
    </ul>
  </div>
<!-- <hr> -->
<%#= render 'partials/how-it-works' %>
<%= render 'partials/faq' %>
<%= render 'partials/testimonials'%>
 
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">  title</h4> -->
      </div>
      <div class="modal-body">
       <div class="jumbotron">
        <h1>Quickstart</h1>
         
          <div>
            
            <p><strong>Import your FB friends to a Yahoo account. <!-- <br/><small><small>(FB has decommissioned this feature on their API)</small></small> --></strong></p>
            
            <ul class="instructions-sub">
              <li>Login or sign up for a <a target="_blank" href="https://mail.yahoo.com/">yahoo account</a>.</li>
              <li>Select <strong>'Contacts'</strong> - 2nd choice from top left menu.</li>
              <li>Choose <strong>'Import Facebook'</strong></li>
              
            </ul>
            <p><strong>Return to the Relay Sauce app to import contacts.</strong></p>
          </div>
          <div class="">
            <%= video_tag "yahoo-signup.webm", style: "width:100%", controls: true, autoplay: true%>
          </div>
         
       </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>
<div id="roiModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">  title</h4> -->
      </div>
      <div class="modal-body">
       <div class="jumbotron" style="box-shadow: none">
        <h1>Return on Investment</h1>
         
          <div class="">
            <p>The average return on investment is typically <strong>1:15</strong>. This means that with your 1000 friends, at a service cost of $60, you can raise around <strong>$1000</strong>.<br/> (Many customers see a higher ROI) </p>
            <!-- <p><small>* Results vary from campaign to campaign.</small></p> -->
          </div>
          <%= image_tag "roi.jpg", style: 'width:100%' %>
       </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>

<style type="text/css">
  .instructions-sub li{
    list-style-type: decimal;
    color:gray;
  }
</style>