<%= form_for(list) do |f| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uid %>
    <%= f.text_field :uid %>
  </div>

  <div class="field">
    <%= f.label :customer_email %>
    <%= f.text_field :customer_email %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :recipient_email_address %>
    <%= f.text_field :recipient_email_address %>
  </div>

  <div class="field">
    <%= f.label :date_sent %>
    <%= f.date_select :date_sent %>
  </div>

  <div class="field">
    <%= f.label :select %>
    <%= f.check_box :select %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
