<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Customer email</th>
      <th>Name</th>
      <th>Subject</th>
      <th>Body</th>
      <th>Recipient email address</th>
      <th>Date sent</th>
      <th>Select</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.uid %></td>
        <td><%= list.customer_email %></td>
        <td><%= list.title %></td>
        <td><%= list.subject %></td>
        <td><%= list.body %></td>
        <td><%= list.recipients %></td>
        <td><%= list.date_sent %></td>
        <td><%= list.select %></td>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
