<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @list.uid %>
</p>

<p>
  <strong>Customer email:</strong>
  <%= @list.customer_email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @list.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @list.body %>
</p>

<p>
  <strong>Recipient email address:</strong>
  <%= @list.recipient_email_address %>
</p>

<p>
  <strong>Date sent:</strong>
  <%= @list.date_sent %>
</p>

<p>
  <strong>Select:</strong>
  <%= @list.select %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
