<title>Relay Sauce - Contact Us</title>
<div class="jumbotron">
  <div>
    <h2>Contact support.</h2>

    <%= simple_form_for @contact, :html => {:class => '' } do |f| %>
    <fieldset>
      <div class="row" label="name">
        <!-- <label>Name</label> -->
        <%= f.input :name, :required => true,label: false, class: 'form-control',error: 'name is required' %>
        <span></span>
      </div>
      <div class="row" label="email">
        <!-- <label>Email</label> -->
        <%= f.input :email,:required => true, label: false, class: 'form-control', error: 'email address is required' %>
        <span></span>
      </div>

      <div class="row" label="message">
        <!-- <label>Message</label> -->
        <%= f.input :message, :as => :text, :required => true, label: false, class: 'form-control' %>
      </div>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
    </fieldset>
    <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    <% end %>
  </div>
  
</div>
<style type="text/css">
  .row label {
    text-align: left;
  }
  .error{
    display: block;
    color:red;
  }
  fieldset .row input{
    border:1px solid #e1e1e1;
  }
</style>