
<%= form_for(email_template) do |f| %>
  <% if email_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email_template.errors.count, "error") %> prohibited this email_template from being saved:</h2>

      <ul>
      <% email_template.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="row" label="from">
      <%= current_user.name %> < <%= current_user.email%> >
      <!-- <input type="email" name="email" placeholder="jane@example.com" required="" autofocus=""> -->
    </div>
    <div class="row" label="subject">
      <%= f.text_field :subject, class: 'form-control', placeholder: 'subject line' %>
    </div>
    <div class="row" label="url to your campaign">
      <%= f.text_field :url, class: 'form-control', placeholder: 'campaign url' %>
    </div>
    <div class="row" label="body">
      <%= f.text_area :body, id: 'editor', class: 'form-control', placeholder: 'your unique message' %>
    </div>
    <div class="form-group hidden">
      <%= f.label :email %><br>
      <%= f.text_area :email,  class: 'form-control', value: current_user.email %>
    </div>
    <div class="form-group hidden">
      <%= f.label :customer_first_name %><br>
      <%= f.text_area :customer_first_name,  class: 'form-control', value: current_user.name %>
    </div>
    <div class="form-group hidden">
      <%= f.label :uid %><br>
      <%= f.text_area :uid,  class: 'form-control', value: current_user.uid%>
    </div>
    
  </fieldset>
  <div class="actions">
    <%= f.submit class: 'btn-success btn' %>
  </div>
<% end %>

<script>
    $(function () {
        $("#editor").shieldEditor({
            height: 260
        });
    })
</script>