<div class="steps-nav"><ol><li><span class="hidden-xs">Import contacts</span></li><li class="active"><span class="hidden-xs">Create template</span></li><li><span class="hidden-xs">Review and Send</span></li></ol></div>
<div class="jumbotron">
  <h1 class="animationOne">Email Templates</h1>
  <% if @email_templates.exists? %>
    <p class="animationTwo">Choose the template for your email blast.</p>
  <% end %>
  
  
  

    <ul class="template-index animationThree">
      <hr>
      <% @email_templates.each do |email_template| %>
        <li>
        <div class=" row">
          <div class="col-sm-10 col-xs-8"><%= link_to truncate(email_template.subject, length:30), email_template %></div>
          <div class="col-sm-1 col-xs-2"><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_email_template_path(email_template) %></div>
          <div class="col-sm-1 col-xs-2"><%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), email_template, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
          
        </li>
      <% end %>
      <br/><br/>
      </ul>
      <%= link_to 'New Email Template', new_email_template_path, class: 'btn border-btn' %>
</div>

