<div class="steps-nav"><ol><li><span class="hidden-xs">Import contacts</span></li><li class="active"><span class="hidden-xs">Create template</span></li><li><span class="hidden-xs">Review and Send</span></li></ol></div>
<div class="jumbotron">
	
	<h2 class="animationOne"><%=@email_template.subject%></h2>
	<p class="animationTwo">Here is a preview of the template for your email blast.</p>
	
	<div class="email-template-mockup animationThree">
		<hr>
		<div class="hidden-xs template-content">
			<table>
				<tr>
					<td><p class="recipient">sender:</p></td>
					<td class="content"><%= @email_template.name%> < <%= @email_template.email %> ></td>
					
					
					
				</tr>
				<tr>
					<td align="top"><p class="recipient">subject:</p></td>
					<td><%= @email_template.subject %></td>
				</tr>
				<tr>
					<td><p class="recipient">body:</p></td>
					<td><%= raw(@email_template.body) %></td>
				</tr>
				<tr>
					<td align="top"><p class="recipient">recipients:</p></td>
					<td>
						<ul style="overflow: scroll;height:100px">
							<% @email_stash.where(selected: true).each do |d| %>
								<li>
									<%#= d.name %>
									<%= d.recipient_email_address %>
								</li>
							<%end %>
						</ul>
					</td>
				</tr>
					
			</table>
		</div>
		<!-- <div class="col-sm-9 template-content">
			
			
			
			
		</div> -->
		<br/>
		<%= link_to 'Edit template', edit_email_template_path(@email_template), class: 'btn border-btn'%>
		<span class="btn border-btn" ><%= link_to 'Send test email', controller: "email_templates", action: "send_test_email",  id: @email_template.id%> <span class=" glyphicon glyphicon-send"></span></span>
	</div>
</div>


		
		<%= link_to 'See all templates', email_templates_path %>

		 

		<div class="pull-right"><%= link_to "Next step: Review order", new_charge_path, class: 'btn btn-lg btn-primary' %> </div>



