<div class="steps-nav"><ol><li class="active">Import contacts</li><li>Create template</li><li>Review and Send</li></ol></div>
<div class="jumbotron">
    <h1>Cool email addresses.</h1>
    <p class="lead">Here are the <strong><%= @email_stash.count%> emails</strong> we imported from your contacts.</p>
  <ul  style="overflow: scroll;max-height: 300px;padding:0px;">
  
  <% @emails.each_with_index do |p, i|%>
      <li><%= p[:first_name] %> <%= p[:last_name] %> ~ <%= p[:email]%> </li>
        
      <% end %>
  </ul>
  <%= link_to "Save list", email_stashes_path(), class: "btn btn-success" %>
</div>

<%#= link_to "Next step: Email template", new_email_template_path(), class: "btn btn-lg btn-primary pull-right" %>


