<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
        <% if name.present? %>
          <p>Hi <%= name %>,</p>
        <% else %>
          <p>Greetings</p>
        <% end %>
        <p>
          <%= body.to_s.html_safe %>
        </p>

    </div>
    <div>
      <br/><br/>
      <small>
        <hr>
        <p><i>Sent via <a href="https://www.relaysauce.com">Relay Sauce</a> - go here to <%= link_to "unsubscribe", unsubscribe_url(unsubscribe_id) %></i></p>
      </small>
    </div>
  </body>
</html>
