<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <p>Hi <%= name %>,</p>
      <h3 style="color: #394EFF;">Your order created at <%= ordered_at %> has been confirmed as complete.</h3>
      <p>We'll be sending your emails out within 24 hours.</p>
      <ul>
        <li>Total Emails: <%= total_user %></li>
        <li>Subject: <%= subject %></li>
        <li>Body: <%= body.html_safe %></li>
      </ul>

      <p>We’ll send your full report within 48 hours and a final report after 1 week.</p>
    </div>
    <div>
      <small>
        <hr>
        <p><i>Sent via <a href="https://www.relaysauce.com">Relay Sauce</a></i></p>
      </small>
    </div>
  </body>
</html>
