<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <p>Hi <%= name %>,</p>
      <% if final_report %>
        <h3 style="color: #394EFF;">Here is your final report!</h3>
      <% else %>
        <h3 style="color: #394EFF;">Here is your report after 48 hours order completeed!</h3>
      <% end %>
      <span><%= ordered_at %> ~ <%= Time.current.strftime("%Y-%m-%d") %></span>
      <ul>
        <li>Total User: <%= total_user %></li>
        <li>Number User Open mail: <%= open_rate %></li>
      </ul>
    </div>
    <div>
      <small>
        <hr>
        <p><i>Sent via <a href="https://www.relaysauce.com">Relay Sauce</a></i></p>
      </small>
    </div>
  </body>
</html>
