<title>Relay Sauce - Unsubscribe</title>
<div class="">
  <div>
    <% if @mailer %>
      <h3>Unsubscribe success, you will no longer receive emails from us.</h3>
    <% else %>
      <h3>This is invalid link</h3>
    <% end %>
    Back to <%= link_to "Relay Sauce", root_path %>
  </div>
  
</div>
