<div class="steps-nav"><ol><li class="active">Import contacts</li><li>Create template</li><li>Review and Send</li></ol></div>
<div class="jumbotron">
    <h1>Cool email addresses, dude.</h1>
    <hr/>
    <ul>
    	<% @emails.each_with_index do |p, i|%>
    	<li><%= p[:first_name] %></li>
    	  
    	<% end %>
    </ul>
  
  <%= link_to "Save list", email_stashes_path(), class: "btn btn-success" %>
</div>

<%#= link_to "Next step: Email template", new_email_template_path(), class: "btn btn-lg btn-primary pull-right" %>


