.redactor-editor, .redactor-box, .redactor-box textarea {
  z-index: auto !important;
  width: 100%;
  padding-left: 20px;
}

.email-from {
  width: 100%;
  margin-left: 20px;
}

.recipient_form {
  margin-top: 30px;
  display:none;
}

.new-recipient {
  float: right;
}

.field_with_errors {
  width: 85%;
}
