// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.email-template-mockup{

	h3{
		
		padding: 1rem 0;
	}
	p{
		padding:1rem 0;
	}
	.template-headers{

		p{
			text-decoration:underline;
		}
	}
	.template-content{
		ul{
			padding:0;
		}
		li{
			padding-bottom:5px;

		}
		p{
			padding:0;
		}
		td{
			&:first-child{
				text-align:right;
				text-decoration:underline;
			}
			vertical-align:top;
			padding-right:10px;
			padding-bottom: 10px;
			color:#777;
			font-size:1.5rem;
		}
		tr{
			margin: 1rem;
		}
		.subject{
			
		}
		.recipient{
			margin:0;
			padding:0;

		}
	} 
}

.template-index{
	padding:0;
	margin:0;

	li{
		padding:1rem 0;
		border-bottom:1px solid transparent;
		&:hover{
			border-bottom:1px solid #394EFF;
		}
	}
}

.border-btn{
	border:blue 1px solid;
}