
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F9F9F6;
  /*background:#F9F9F6 url('sauce-blue.png') 80% 20%;*/
  background-repeat:no-repeat;
  background-attachment: fixed;
  color:#394EFF;
  font-size:1.6rem;
  font-family: 'Questrial';
}
p{
  color:#666;
}
a{
	color:#394EFF;
  font-weight:bold;
  text-decoration:underline;

	&:hover{
		color:#394EFF;
	}

}
input:focus::-webkit-input-placeholder 
  {
      color: transparent;
  }
.btn {
    text-decoration:none;
    &:hover{
      color:#394EFF;    }
  }
.btn-primary, .btn-success{
  &:hover{
    color:#fff;    
    }
}
hr{
  border-bottom:3px solid #394EFF;
}
.logo{
  font-size:2rem;
  font-weight: bold;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background:#394EFF;
}
.nav > li > a{
  padding:0px 5px !important;
  font-weight:bold;
  &:focus{
    background:none;
  }
  &:hover{
    background:none;
  }
}
.nav > li > a > img{
  margin-top:-5px;
}
.animationOne{
  animation: slide-in-vertical 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.57s both;
}
.animationTwo{
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.6s;
}
.animationThree{
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.7s;
}
.animationFour{
  animation: slide-in-vertical 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 0.85s;
}

h1{
	font-size:3.6rem;
  font-weight:bold;
}
h2{
  font-weight:bold;
}

.well{
  background: white;
  border:2px solid #394EFF;
  border-radius: 0px;
    -webkit-box-shadow:none;
    box-shadow: none;

    h2{

      
    }
}

.dropdown-toggle {
  
  padding: 0 !important;
  padding-left: 5px !important;

  &:hover,&:focus{
    background:none !important; 
  }

  img{
    max-width:40px !important;
  }
}
.btn-primary{
	background:#394EFF;

	&:hover{
		background:#394EFF;
		opacity:.9;
	}
	&:focus{
		background:#394EFF;
		opacity:.9;
	}
}

.blue-bg{
  background: #394EFF;
  color:#F9F9F6;
}

.faq{
  ul{
    margin:0;
    padding:0;
    li{
      list-style: none;
      border-bottom: 1px solid blue;
      padding: 1rem;
      padding-left:0;
      font-weight:bold;
      cursor:pointer;

      .glyphicon{
        float:right;
      }
    }
    div{
      padding: 1rem 0 2rem 0;
    }

  }
}

@keyframes lds-rolling {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @-webkit-keyframes lds-rolling {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .lds-rolling {
    position: relative;
  }
  .lds-rolling div,
  .lds-rolling div:after {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 20px solid #394eff;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .lds-rolling div {
    -webkit-animation: lds-rolling 1s linear infinite;
    animation: lds-rolling 1s linear infinite;
    top: 100px;
    left: 100px;
  }
  .lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .lds-rolling {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }

  .lds-css{
    position:absolute;
    top:10%;
  }



/* Everything but the jumbotron gets side spacing for mobile first views */
.header{
  margin-bottom: 10px;
}
.header,
.marketing,
.footer {
  
}

/* Custom page header */
.header {
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding: 3rem;
  color:#394EFF;
  position:relative;
  bottom:0;
  text-align:center;

  .btn{
    text-decoration:underline;
  }
  ul{
    margin-left:0;
    padding-left:0;
  }
  li{
    display:inline-block;
  }
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  box-shadow: 5px 5px 5px #ccc;
  background:white;
  /*opacity:.95;*/
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  h1{
    margin-top:0;
  }
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
#notice{
  /*background: #765d5d;
  color: white;
  padding: .5rem;*/
}

.btn-primary{
  border:none;
  /*border-bottom: 4px solid #394DBD;*/
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  
  
}


@media screen and (max-width: 500px){
  h1 {
      font-size: 38px !important;
  }
}
