<div class="steps-nav"><ol><li class="active">Import contacts</li><li>Create template</li><li>Review and Send</li></ol></div>
<div class="jumbotron">
    <h1>Cool email addresses, dude.</h1>
    <p class="lead">Here are the <strong><%= @email_stash.count%> emails</strong> we imported from your Facebook (via Yahoo) friends.</p>
  <ul  style="overflow: scroll;max-height: 300px;padding:0px;">
  
  <% @email_stash.where(source: 'gmail').each do |d| %>
    <li>
      <%#= d.name %>
      <p><%= d.recipient_email_address %></p>
    </li>
  <%end %>
  </ul>
  <%= link_to "Save list", email_stashes_path(), class: "btn btn-success" %>
</div>

<%#= link_to "Next step: Email template", new_email_template_path(), class: "btn btn-lg btn-primary pull-right" %>


