<div class="jumbotron">
  <%= form_for(email_template) do |f| %>
    <% if email_template.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(email_template.errors.count, "error") %> prohibited this email template from being saved:</h2>

        <ul>
        <% email_template.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
      <div class="row" label="from">
        <div class="email-from"><%= current_user.name %> - <%= current_user.email%></div>
        <!-- <input type="email" name="email" placeholder="jane@example.com" required="" autofocus=""> -->
      </div>
      <div class="row" label="subject">
        <%= f.text_field :subject, class: 'form-control', placeholder: 'subject line' %>
      </div>
      <!-- <div class="row" label="url to your campaign">
        <%#= f.text_field :url, class: 'form-control', placeholder: 'campaign url' %>
      </div> -->
      <div class="row" label="body">
        <%= f.text_area :body, class: 'js-redactor form-control', placeholder: 'Dear friend,

Nulla est elit, vehicula vitae rhoncus vel, consequat ac ex. Etiam dignissim auctor imperdiet. Maecenas at libero vitae nisi lacinia tempus ullamcorper in ipsum. Aliquam egestas neque nec nisi feugiat, at mattis tellus condimentum. Cras vitae pretium mauris. 

Cras fermentum auctor arcu ac dignissim. Class aptent taciti sociosqu ad litora torquent per conubia.', style: 'height:300px' %>

      </div>
      <div class="form-group">
        <p style="font-size:14px;text-align: right;padding:0 2rem"><small>*Don't forget to include your campaign URL in your message.</small> </p>
      </div>
      <div class="form-group hidden">
        <%= f.label :email %><br>
        <%= f.text_area :email,  class: 'form-control', value: current_user.email %>
      </div>
      <div class="form-group hidden">
        <%= f.label :name %><br>
        <%= f.text_area :name,  class: 'form-control', value: current_user.name %>
      </div>
      <div class="form-group hidden">
        <%= f.label :uid %><br>
        <%= f.text_area :uid,  class: 'form-control', value: current_user.uid%>
      </div>
      
    </fieldset>
    <div class="actions">
      <%= f.submit class: 'btn btn-success' %>
    </div>
    <br/>
  <% end %>
</div>  
<style type="text/css">
  .redactor-box p{
    font-size:14px;
  }
  .redactor-in{
    height:25rem;
  }

</style>