<div class="steps-nav"><ol><li><span class="hidden-xs">Import contacts</span></li><li class="active"><span class="hidden-xs">Create template</span></li><li><span class="hidden-xs">Review and Send</span></li></ol></div>
<div class="jumbotron">
	<h1>New Email Template</h1>
	<!-- <hr> -->
	<%= render 'form', email_template: @email_template %>
</div>
<%= link_to 'All templates', email_templates_path %>
