<div class="steps-nav"><ol><li><span class="hidden-xs"><%= link_to "Import contacts", '/'%></span></li><li class="active"><span class="hidden-xs">Create template</span></li><li><span class="hidden-xs">Review and Send</span></li></ol></div>
<div class="jumbotron">

  
  <h2 class="animationOne">Email <%#=@email_template.subject%>Preview</h2>
  <%= link_to(:controller => 'email_templates', :action => 'send_test_email', :id => @email_template.id) do %>
      <div class="btn border-btn animationTwo">Send Test Email <span class=" glyphicon glyphicon-send"></span></div>
  <% end %>
  <p></p>
  <p class="animationTwo"><small>*Send yourself a test email to ensure everything is correct. Highly recommended!</small></p>

  <div class="email-template-mockup animationThree">
    <hr>
    <div class="template-content">
      <table>
        <tr>
          <td><p class="recipient">sender:</p></td>
          <td class="content"><%= @email_template.name%> &nbsp; < <%= @email_template.email %> > </td>
          
          
          
        </tr>
        <tr>
          <td align="top"><p class="recipient">subject:</p></td>
          <td><%= @email_template.subject %></td>
        </tr>
        <tr>
          <td><p class="recipient">body:</p></td>
          <td>
            <span>Hi < first-name >,</span><br/><br/>
            <%= raw(@email_template.body) %>
              
          </td>
        </tr>
        <tr>
          <td align="top"><p class="recipient">recipients (<%= @email_stash.count %>):</p></td>
          <td>
            <ul style="overflow: scroll;height:100px">
              <% @email_stash.each do |d| %>
                <li>
                  <% if d.recipient_full_name.present? %>
                    <%= d.recipient_full_name %> < <%= d.recipient_email_address %> >
                  <% else %>
                    <%= d.recipient_email_address %>
                  <% end %>
                </li>
              <%end %>
            </ul>
          </td>
        </tr>
          
      </table>
    </div>
    <!-- <div class="col-sm-9 template-content">
      
      
      
      
    </div> -->
    <hr>
    <span class="animationThree"><small>Please note that each email will include a salutation using the recipient's first name. If no name is found, we'll use the salutation 'Greetings' instead.</small></span>
    <br/>
    <br/>
    <%= link_to 'Edit Recipients', '/index_gmail', class: 'btn border-btn'%>
    <%= link_to 'Edit Template', edit_email_template_path(@email_template), class: 'btn border-btn'%>
    
  </div>
</div>
    
<%= link_to 'See all templates', email_templates_path %>

<div class="pull-right"><%= link_to "Next step: Review order", new_charge_path(template_id: @email_template.id), class: 'btn btn-lg btn-primary' %> </div>

<style type="text/css">
	.jumbotron p{
		font-size: inherit !important;
	}
</style>
