<div class="steps-nav"><ol><li>Import contacts</li><li>Create template</li><li  class="active">Review and Send</li></ol></div>
<%= form_tag charges_path do %>
  
  <div class="jumbotron">
    <h1>Looks like we're all set.</h1>
    <p class="lead">Sending personalized emails is one of the best methods to boost your crowdfunding outreach.</p>
    <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <%# if @email_stash.count > 501 < 999 %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn-primary"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Relay Sauce"
          
          <% if @amount < 3000 %>
            data-amount="3000"
          <% else %>
            data-amount="<%= raw(@amount)%>"
          <% end %>
          data-locale="auto"></script>
    <%#end %>
    <button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-ok-circle"></span> Complete your order </button>
  </article>
  </div>

  
<% end %>

<script>
    // Hide default stripe button, be careful there if you
    // have more than 1 button of that class
    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
</script>