<div class="">
  <div class="jumbotron">
    <h2>Contact our support team</h2>

    <%= simple_form_for @contact, :html => {:class => '' } do |f| %>
    <fieldset>
      <div class="row" label="name">
        <%= f.input :name, :required => true,label: false, class: 'form-control',error: 'username is required' %>
      </div>
      <div class="row" label="email">
        <%= f.input :email,:required => true, label: false, class: 'form-control', error: 'email address is required' %>
      </div>
      <div class="row" label="message">
        <%= f.input :message, :as => :text, :required => true, label: false, class: 'form-control' %>
      </div>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
    </fieldset>
    <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    <% end %>
  </div>
  
</div>
