<div class="steps-nav"><ol><li><span class="hidden-xs"><%= link_to "Import contacts", '/'%></span></li><li><span class="hidden-xs"><%= link_to "Create template", email_templates_path%></span></li><li  class="active"><span class="hidden-xs">Review and Send</span></li></ol></div>
<%= form_tag charges_path do %>
  <%= hidden_field_tag(:template_id, @email_template.id) %>
  
  <div class="jumbotron">
    <h1>Good to go.</h1>
    <br/>
    <p><u>Order summary:</u></p>
    <div class="summary">
      <!-- <span class="col-md-2 g-larger glyphicon-send glyphicon"></span> -->
      <div class="invoice">
        <!-- <span>:</span> -->
        <% if @amount < 1500 %>
          <table>
            <tr>
              <td>Personalized emails</td>
              <td>Price per email</td>
              <td>Total</td>
            </tr>
            <tr>
              <td><%= @count %></td>
              <td>$0.06 USD</td>
              <td>$15</td>
            </tr>
          </table>
          <small>* (order minimum $15)</small>
        <% else %>
          <table>
            <tr>
              <td>Personalized emails</td>
              <td>Price per email</td>
              <td>Total</td>
            </tr>
            <tr>
              <td><%= @count %></td>
              <td>$0.06 USD</td>
              <td><strong>$ <%= raw(@amount_sum)%></strong></td>
            </tr>
          </table> 
        <% end %>
      </div>
      <p>&nbsp;</p>
      <span class="glyphicon g-large glyphicon-ok-sign col-md-1 col-xs-12 text-center"></span>
      <p class="col-md-11"> We'll send your emails out within 24 hours from your time of purchase.</p>
      <span class="glyphicon g-large glyphicon-stats col-md-1 col-xs-12 text-center"></span>
      <p class="col-md-11"> 2 follow up reports (2nd and 7th day after) with open/click-through rates will be sent to you via email once your batch is processed.</p>
      <span class="glyphicon g-large glyphicon-thumbs-up col-md-1 col-xs-12 text-center"></span>
      <p class="col-md-11"> 100% refund if (for some strange reason) you do not see returns greater or equal to our fee. </p>
      <p>&nbsp;</p>
    </div>
    
    <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    
    <%# if @email_stash.count > 501 < 999 %>
        <script 
          src="https://checkout.stripe.com/checkout.js" 
          class="stripe-button btn-primary"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Relay Sauce"
          data-image="https://s3-us-west-2.amazonaws.com/relaysauce/paper-airplane.jpeg"
          coupon="comp15D"
          
          <% if @amount < 1500 %>
            data-amount="1500"
          <% else %>
            data-amount="<%= raw(@amount)%>"
          <% end %>
          data-locale="auto"
          ></script>
    <%#end %>
      <button class="btn btn-block btn-primary"> Complete your order <span class="glyphicon glyphicon-circle-arrow-right" style="font-size :1.5rem"></span></button>
    </article>
  </div>

  
<% end %>

<script>
    // Hide default stripe button, be careful there if you
    // have more than 1 button of that class
    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
</script>
<style type="text/css">
  .g-large{
    font-size:3rem;
  }
  .g-larger{
    font-size:5rem;
  }
  .blue-text p{
    color:#394EFF;
  }
  .invoice td{
    margin:0;
    padding:10px;
    border-bottom:#ccc 1px solid;
    color:#666;
  }
  .invoice table{

    width: 100%
  }
  .invoice small{
    color:#666;
    text-align: right;
  }
  .glyphicon{
    padding:1rem;
  }
</style>