<div class="jumbotron">
  <h1>Yer gonna need some sauce on that.</h1>
  <ul>
  <li>1. Rapid email delivery at your service.</li>
  <li>2. If you don't make a return of at least the amount of our fee, we'll refund you.</li> 
  <li>3. We never sell your info or spam you.</li>
  </ul>

  <!-- <hr> -->

  
</div>

<style type="text/css">
	ul{
		padding:0;
		margin:0;
	}
</style>