<!DOCTYPE html>
<html>
  <head>
    <title>Personalized Email Marketing for Crowdfunding</title>
    <%= csrf_meta_tags %>

    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- Open Graph data -->
    <meta property="og:title" content="Boost Your Crowdfunding" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.relaysauce.com/" />
    <meta property="og:description" content="Only 5% of your friends actually see your FB posts. Send personalized emails to each of them easily with Relay Sauce." />
    <meta property="og:image" content="http://squonklabs.com/sauce-purple.png" />
    <meta name="description" content="Relay Sauce gave us a needed boost in our Kickstarter campaign outreach. We made it to $20,000! Thanks again to Relay Sauce team!" />
    <link href="https://fonts.googleapis.com/css?family=Questrial|Pacifico" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="loading"></div>
    <%= render 'partials/facebook' %>
    <div class="container">
          <div class="header clearfix">
            <nav>
              <ul class="nav nav-pills pull-right">

                <li role="presentation"><%= link_to "Pricing", pricing_path %></li>
                <!-- <li role="presentation"><%#= link_to "About", about_path %></li> -->
                <li>
                  <% if user_signed_in? %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >
                    <%= image_tag current_user.avatar, class: "img-responsive img-circle dropdown-toggle"%>
                  </a>
                  <ul class="dropdown-menu">
                    <li style="padding-left: 10px;"><%= current_user.name %></li>
                    <li><%= link_to "Logout", destroy_user_session_url, method: :delete %></li>
                  </ul>
                  <% end %>
                </li>
              </ul>
            </nav>
            <div class="logo"><a href="/" style="text-decoration: none;"><!-- <span class="glyphicon glyphicon-send"></span> <span class=""> -->RelaySauce</span></a></div>
          </div>
          <p style="border:1px solid #394EFF; color: #394EFF; border-radius:10px;padding: 1.2rem;" class="text-center">Limited time offer get 250 messages for free. Use coupon code <strong style="font-size:2rem;">comp15</strong> at checkout.</p>
      <%= yield %>
      <%= render 'partials/toastr' %>
    </div>
    <footer class="footer">
      <div class="container">
        <ul>
          <li><%= link_to 'Privacy', privacy_path, class: 'btn' %></li>
          <li><%= link_to 'Contact', new_contact_path, class: 'btn' %></li>
        </ul>
      </div>
      
    </footer>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5b0e022c10b99c7b36d47101/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
  <!-- loading graphic -->
  <!-- <div class="lds-css ng-scope">
    <div style="width:100%;height:100%" class="lds-rolling">
      <div></div>
    </div>
  </div> -->

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-103785277-1', 'auto');
    ga('send', 'pageview');
  </script>


  <!-- <script type="text/javascript" src="https://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script> -->
</html>