<title>Relay Sauce - Affordable Email Marketing for Crowdfunding</title>

<div class="jumbotron">
  <h1>Personalized email marketing that works.</h1>
  <!-- <p>No gimmicks. No spam. No hidden fees.</p> -->
  <p><span class="glyphicon glyphicon-globe"></span>&nbsp; Reach hundreds of potential funders - only 5 minutes of work.</p>
   <p><span class="glyphicon glyphicon-stats"></span>&nbsp;&nbsp; We'll send your emails out within 24 hours from your time of purchase.</p>
  <p><span class="glyphicon glyphicon-ok"></span>&nbsp; 2 follow up reports (2nd and 7th day after) with open/click-through rates will be sent to you via email once your batch is processed.</p>

  <p><small>* Minimum 250 emails</small></p>
  <h3 class="well text-center">
    <span class="glyphicon glyphicon-usd"></span>0.06/email
  </h3>
  <div class="price-levels">
    <div style="background: #38afff;">
      <h2>500 emails <span class="price-tag"><span class="glyphicon glyphicon-usd"></span>30</span></h2>
    </div>
    <div style="background: #3892FF;">
      <h2>1000 emails <span class="price-tag"><span class="glyphicon glyphicon-usd"></span>60</span></h2>
    </div>
    <div style="background: #394EFF;">
      <h2>2000 emails <span class="price-tag"><span class="glyphicon glyphicon-usd"></span>120</span></h2>
    </div>
   <!--  <div style="background:  #3825FF;">
      <h2>2K+ emails <span class="price-tag"><small ><%= link_to 'Contact us', new_contact_path,class: "white" %></small></span></h2>
    </div> -->

  </div>
  <div class="row">
    <br/>
    <div class="form-group col-md-5 quick-quote">
        <h4>Quick Quote</h4>
        <!-- <label for="emails" class=""><small>Number of emails</small></label> -->
        <input type="text" id="emails" placeholder="250" class="form-control">
        <button class="btn btn-block btn-warning" onclick="calc()">Go</button>
        <div class="clear-both">
          <table>
            <tr>
              <td></td>
            </tr>
            <tr><td></td></tr>
            <tr>

              <td>

                $0.06 x <span id="result">250</span> 
                <hr style="padding:0;margin:0" />
              </td>
            </tr>
            <tr>
              <td style="font-size: 2.4rem;">
                <span id="quote"><strong>$15.00</strong> USD</span>
              </td>
            </tr>
          </table>
        </div>

        
    </div>
    <div class="col-md-7">
      <br/>
      <br/>
      <p class="text-center"><%= link_to "Get started", '/', class: 'btn btn-primary btn-block'%></p>
    </div>
    
  </div>
  
</div>


<script>
function calc() {
  var emails = document.getElementById("emails").value;
  var result = emails * .06;
  if (result < 15){
    document.getElementById("quote").innerHTML = '$' + 15 + ' USD';
  }
  else{
    document.getElementById("quote").innerHTML = '$' + result.toFixed(2) + ' USD';
  }
  document.getElementById("result").innerHTML = emails;
}
</script>


<style type="text/css">
  #emails{
    height:6rem;
    padding:1rem;
    font-size: 2.4rem;
  }
  .white:hover{
    color:white;
    opacity: .9;
  }
  table td{
    padding:.5rem;
  }
  
  .quick-quote #emails,.quick-quote .btn{
    width:50%;float:left;
  }
</style>