<div class="jumbotron yahoo_instruction">
	<h1>Quickstart</h1>
 
  <div class="">
    <p>We use Yahoo to import your FB friends.</p>
    <ol>
      <li>Login or sign up for a free <a target="_blank" href="https://www.yahoo.com/">yahoo account</a>. <br/><small>(delete it right afterward if you want)</small></li>
      <li>Click 'contacts' icon - 2nd choice from left menu.</li>
      <li>Choose 'Import Facebook'</li>
      <li>Return to the Relay Sauce app.</li>
    </ol>
    <br/>
  </div>
  <div class="">
    <%= video_tag "yahoo-signup.webm", style: "width:100%", controls: true, autoplay: true%>
  </div>
 
</div>

<style type="text/css">
.yahoo_instruction .jumbotron{
		padding-top:0;
	}
.yahoo_instruction	ol{
		margin:0;
		

		
	}
.yahoo_instruction	li{
			list-style-type: decimal;
			color:#777;
			padding:1rem;
		}
</style>