<div class="jumbotron">
  <h1>Give your crowdfunding outreach a personal touch.</h1>
  <p class="lead">Send hundreds of personalized emails to your Yahoo and Gmail friends in a matter of minutes.</p>
  <p>
    <span class="social social-facebook"></span>
    <%= link_to "Sign in with Facebook",
        user_facebook_omniauth_authorize_url(),
        class: "btn btn-lg btn-primary" %>
  </p>

  
</div>
<hr/>

<%= render 'layouts/faq' %>