<div class="steps-nav"><ol><li class="active"><span class="hidden-xs">Import contacts</span></li><li><span class="hidden-xs">Create template</span></li><li><span class="hidden-xs">Review and Send</span></li></ol></div>
<div class="jumbotron">
    <ul class="features">
      <div class="row">
        <div class="col-md-2 col-sm-2"><span class="hidden-xs glyphicon glyphicon-download-alt" style="font-size:70px"></span></div>
        <div class="col-md-10 col-sm-10"><h1> Choose your import method.</h1></div>
      </div>
      
      <!-- <hr> --><br/>
      <li>
        <section class="well">
          <h2>Facebook friends <small>(best <%= link_to "ROI", class: "tooltip",
                    :data => {:toggle=>"tooltip"},
                    'data-original-title' => "Hey Whats up",
                    'data-placement' => 'right' %>/results)</small></h2>
          <div class="">
            <p>Send emails to your Facebook friends. Use Yahoo to fetch your facebook friends. Please follow these <strong><%= link_to "easy instructions", '#myModal', "data-toggle" => "modal" %></strong> to use this option.</p>
          </div>
          <div class="">
            <%= link_to "Import Facebook", '/users/auth/yahoo_oauth2', class: 'btn btn-lg btn-primary' %>
          </div>
        
        </section>
      </li>
      <li>
        <section class="well">
        <h2>Gmail contacts</h2>
        <div class="">
          <p>Send emails to your Gmail contacts.</p>
        </div>
        <div class="">
          <%= link_to "Import Gmail", '/users/auth/google_oauth2', class: 'btn btn-success btn-lg' %>
        </div>

        </section>
      </li>
      <li>
        <section class="well">
          <h2>LinkedIn Contacts</h2>
          <div class="">
            <p>Send emails to your LinkedIn contacts. Coming soon.</p>
          </div>
          <div class="">
            <%= link_to "Import LinkedIn", '/users/auth/yahoo_oauth2', class: 'btn btn-lg btn-primary', disabled: true %>
          </div>
        
        </section>
      </li>
    </ul>
  </div>
<hr>
<%= render 'layouts/faq' %>

 
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">  title</h4> -->
      </div>
      <div class="modal-body">
       <div class="jumbotron">
        <h1>Quickstart</h1>
         
          <div class="">
            <p>We use Yahoo to import your FB friends <small>(FB has decommissioned this feature on their API)</small>.</p>
            <ol>
              <li>Login or sign up for a <a target="_blank" href="https://www.yahoo.com/">yahoo account</a>. <br/><small>(delete it afterward if you want)</small></li>
              <li>Select 'contacts' - 2nd choice from left menu.</li>
              <li>Choose 'Import Facebook'</li>
              <li>Return to the Relay Sauce app.</li>
            </ol>
            <br/>
          </div>
          <div class="">
            <%= video_tag "yahoo-signup.webm", style: "width:100%", controls: true, autoplay: true%>
          </div>
         
       </div>
      </div>
     <!--  <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>